body {
  padding: 2%;
}

main {
  background-color:rgb(216, 214, 211);
  height: fit-content;
  width: fit-content;
  padding: 1%;
  margin-left: 35%;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
 
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
.equal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
  background-color: blue;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid  #888888;
  border-radius: 5rem;
  padding: 10px;
  outline: none;
  box-shadow: 5px 10px 8px #888888;
}

#input {
  font-size: 50px;
  resize: none;
  box-shadow: 5px 10px 8px #888888;
}

.num, #decimal {
  background-color: rgb(160, 160, 160);
}

.calculator-grid > #decimal:hover, #back:hover, button:hover {
  background-color: #f08000;
}

.clear, #back {
  background-color: blue;
}

.operator {
  background-color: rgb(53, 53, 53);
  color: white;
}

#input {
  grid-column-start: 1;
  grid-column-end: 5;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}     